<hr />
<!-- <footer>
  <p>&copy; 2024 Stack Otterflow</p>
  <p>California State University Monterey Bay</p>
</footer> -->

<footer>
  <hr>
  <div id="footer-content">
    <p>&copy; 2024 Stack Otterflow, Seika Studio</p>
    <p>California State University Monterey Bay</p>
  </div>
</footer>
