
<!-- <footer>
  <hr>
  <div style="display: flex; justify-content: center; gap: 80px;">
    <div style="text-align: left;">
      <p>ADDRESS</p>
      <p style="font-size: small;">1234 Main Street</p>
      <p style="font-size: small;">City, CA zip code</p>
    </div>
  
    <div style="border-left: 2px solid black; height: 100%;"></div>
  
    <div style="text-align: left;">
      <p>BUSINESS HOURS</p>
      <p style="font-size: small;">Mon-Fri: 8 AM - 5 PM</p>
      <p style="font-size: small;">Sat: 8 AM - 1 PM</p>
      <p style="font-size: small;">Sun: Closed</p>
    </div>
  
    <div style="border-left: 2px solid black; height: 100%;"></div>
  
    <div style="text-align: left;">
      <p>CONTACT US</p>
      <p style="font-size: small;">Phone: (111) 111-1111</p>
      <p style="font-size: small;">Email: someone@gmail.com</p>
    </div>
  </div>
  </div><br>

  <div><br>
    <p class = "text-center"S style="font-size: xx-small;">&copy; 2024 Stack Otterflow</p>
    <p class = "text-center" style="font-size: xx-small;">California State University Monterey Bay</p>
  </div>
</footer> -->

<footer>
  <hr>
  <div id="footer-content">
    <p>&copy; 2024 Stack Otterflow, Seika Studio</p>
    <p>California State University Monterey Bay</p>
  </div>
</footer>