<footer class="footer">
  <hr>
  <div style="display: flex; justify-content: center; gap: 80px;">
    <div style="text-align: left;">
      <p>ADDRESS</p>
      <p>1234 Main Street</p>
      <p>City, CA zip code</p>
    </div>

    <div style="border-left: 2px solid black; height: 100%;"></div>

    <div style="text-align: left;">
      <p>BUSINESS HOURS</p>
      <p>Mon-Fri: 8 AM - 5 PM</p>
      <p>Sat: 8 AM - 1 PM</p>
      <p>Sun: Closed</p>
    </div>

    <div style="border-left: 2px solid black; height: 100%;"></div>

    <div style="text-align: left;">
      <p>CONTACT US</p>
      <p>Phone: (111) 111-1111</p>
      <p>Email: someone@gmail.com</p>
      <a href="https://www.instagram.com/seika_studio_/" target="_blank">
        <img src="./img/insta_images.png" alt="" style="height: 15%;">
      </a>
    </div>
  </div>

  <div id=footer-content>
    <p class="text-center">&copy; 2024 Stack Otterflow</p>
    <p class="text-center">California State University Monterey Bay</p>
  </div>
</footer>

<!-- <footer class="footer">
  <hr>
  <div id="footer-content">
    <p>&copy; 2024 Stack Otterflow, Seika Studio</p>
    <p>California State University Monterey Bay</p>
  </div>
</footer> -->