<nav>
  
    <a href="/productGallery">Product Gallery</a>
    <a href="/bookAnAppointment">Book an Appointment</a>
    <a href="/customSets">Custom Set</a>
    <a href="/login">Login</a>
    <hr>
</nav>
