<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            fill="#f0e2ce"
            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="navbar-brand" action="/">
        <img
          src="/img/seika-logo-edited.png"
          alt="Logo"
          id="logo"
          class="d-inline-block align-text-top"
        />
        <span class="brand-text">Seika Studio</span>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form action="/">
            <button class="nav-link">Home</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/productGallery">
            <button class="nav-link">Product Gallery</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/bookAnAppointment">
            <button class="nav-link">Book an Appointment</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/customSets">
            <button class="nav-link">Custom Sets</button>
          </form>
        </li>
        <% if (!user) { %>
        <li class="nav-item">
          <form action="/loginSignup">
            <button class="nav-link">Login</button>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item">
          <form action="/logout">
            <button class="nav-link">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
