<nav>
  <ul>
    <li><a href="/productGallery">Product Gallery</a></li>
    <li><a href="/bookAnAppointment">Book an Appointment</a></li>
    <li><a href="/customSets">Custom Sets</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>
