<nav>
  <ul>
    <li><a href="/productGallery">Product Gallery</a></li>
    <li><a href="/bookAnAppointment">Book an Appointment</a></li>
    <li><a href="/createCustomSet">Create Custom Set</a></li>
    <li><a href="/loginSignup">Login</a></li>
  </ul>
</nav>
