<%- include("partials/header.ejs") %> 
    <body>
        <%- include("partials/nav.ejs") %>

        <!--Update iframe with Sekia Stuido iframe link-->
        <div id="googleCalendar">
            <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ1Nwt0LZUxfIpwrWBOISSCHBkqzJaWYDBedBgaZUEz895zJ19O6jc4-FG1Pb3ntbrgdt15GmhHU?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe> 
        </div>

        <script src="js/script.js"></script>

        <%- include("partials/footer.ejs") %>
    </body>
</html>