<%- include("partials/header.ejs") %> 
    <body>
        <%- include("partials/nav.ejs") %>

        <div id="googleForm">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc42222TfLyMEEaSbGUDKDgEVe_98OXb3KSFhBoEkZStkn3LQ/viewform?embedded=true" width="640" height="1427" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>

        <script src="js/script.js"></script>

        <%- include("partials/footer.ejs") %>
    </body>
</html>