<%- include("partials/header.ejs") %> 
    <body>
        <%- include("partials/nav.ejs") %>
        <form action="/logout">
            <button>
                Logout
            </button>
        </form>
        <%- include("partials/footer.ejs") %>
    </body>
</html>