<%- include("partials/header.ejs") %> 
    <body>
        <%- include("partials/nav.ejs") %>

        <script src="js/script.js"></script>

        <%- include("partials/footer.ejs") %>
    </body>
</html>