body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    min-height: 100vh;
    position: relative;
    align-items: center;
    align-content: center;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F1F2EB;
    color: #535446;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

/* hr {
    justify-self: center;
    width: 100%;
    margin: 0px;
} */

nav {
    display: flex;
    justify-content: baseline;
    background-color: #3D0C02;
    color: #F0E2CE;
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-text {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #F0E2CE;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    color: #F0E2CE;
}

.nav-link:hover {
    background-color: #F0E2CE;
    color: #3D0C02;
}

#logo {
    height: 40px;
    width: auto;
}

.footer {
    margin-top: auto;
    width: 100%;
    color: #C19A6B;
    font-weight: 400;
}

p {
    padding: 5px;
}

h1,
h2,
h5,
header {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}

header {
    height: 4rem;
    margin-top: 15px;
    color: azure;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
}

h1 {
    font-size: 4em;
    padding: 10px;
}

h2 {
    font-size: 3em;
    padding: 10px;
    padding-top: 20px;
}

#footer-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0px;
    padding-right: 20px;
    margin-top: 0px;
}

input {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: "Crimson Text", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input[type="text"],
input[type="number"],
select,
option,
textarea {
    border: #3D0C02 2px solid;
    border-radius: 7px;
    background-color: #D8E2DC;
    color: #3D0C02;
    font-family: "Crimson Text", serif;
    text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio" i] {
    background-color: #D8E2DC;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

input[type="radio"]+label {
    padding: 6px 12px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #D8E2DC;
    color: #3D0C02;
}

input[type="radio"]:checked+label {
    background-color: #3D0C02;
    color: #D8E2DC;
    transform: scale(1.1);
}

input[type="checkbox" i] {
    background-color: #D8E2DC;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

input[type="checkbox"]+label {
    padding: 6px 12px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #D8E2DC;
    color: #3D0C02;
}

input[type="checkbox"]:checked+label {
    background-color: #3D0C02;
    color: #D8E2DC;
    transform: scale(1.1);
}

.cell {
    display: flex;
    flex-direction: column;
    border: #3D0C02 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 75%;
    background-color: #F6F3E7;
    color: #3D0C02;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cell:hover {
    background-color: #d8e2dc5f;
    transform: translateY(-2px);
    transition: 0.4s ease;
}

.short {
    width: 40%;
    justify-self: center;
    border-radius: 0%;
}

textarea {
    width: 75%;
    min-height: 100px;
    text-align: left;
    padding: 5px;
}

.modal-content {
    background-color: #D5C7BE;
    color: #253529;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 90vh;
    /* Adjust height as needed */
    overflow: hidden;
}

.parallax-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/home_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form-control {
    width: 200px;
    max-width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

.input-group>.form-control {
    border-radius: 8px !important;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.parallax-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d5c7be;
    /* Adjust text color as needed */
    text-align: center;
    z-index: 1;
}

.content {
    width: 100%;
}

.content-text {
    align-content: center;
    max-width: 40%;
    padding: 20px;
    border: #535446 solid;
}

#orderItems {
    max-height: 70vh;
    width: auto;
    object-fit: scale-down;
    padding-left: 40px;
}

.artistImg {
    border: #535446 solid;
    max-width: 50vh;
    padding: 5px;
    margin: 10px;
}

.section {
    width: 100%;
    padding: 40px;
}

.sectionColor1 {
    background-color: #D8E2DC;
}

.sectionColor2 {
    background-color: #F0E2CE;
}

#aboutSection td p {
    width: 75%;
    justify-self: center;
}

#aboutSection h3 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}

.d-flex img {
    flex-shrink: 1;
}

.coupons {
    justify-self: center;
    width: 70%;
    border: #3d0c02a5 2px solid;
    font-size: large;
}

.coupons tr th {
    align-items: center;
    vertical-align: middle;
    background-color: #D5C7BE;
    color: #3d0c02;
    border: #3d0c02a5 2px solid;
}

.coupons tr th h3 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}

.coupons tr td {
    align-items: center;
    vertical-align: middle;
    border: #3d0c02a5 2px solid;
    color: #3d0c02;
    background-color: #F6F3E7;
}

.title {
    padding: 20px;
    border: #d5c7be 2px solid;
    background-color: #3d0c02bd;
}

.title-image {
    height: 250px;
    width: auto;
    margin: 20px;
    border: #3d0c02bd 4px solid;
    border-radius: 100%;
}

.subtitle {
    display: inline;
    background-color: #d5c7bec1;
    color: #3d0c02;
    padding: 2px 7px;
    /* font-size: medium; */
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}

.btn-outline-primary {
    margin: 5px;
    border-color: #3d0c02;
    border-radius: 0%;
    color: #3d0c02;
    background-color: #F6F3E7;
    font-size: 1.3em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    --bs-btn-hover-bg: #3d0c02bd;
    --bs-btn-hover-border-color: #3d0c02bd;
    --bs-btn-hover-color: #F6F3E7;
    --bs-btn-active-bg: #3d0c02;
    --bs-btn-active-border-color: #3d0c02;
    --bs-btn-active-color: #F6F3E7;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.btn-primary {
    margin: 5px;
    border-color: #3d0c02bd;
    border-radius: 0%;
    color: #F6F3E7;
    background-color: #3d0c02bd;
    font-size: 1.3em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    --bs-btn-hover-bg: #3d0c02e2;
    --bs-btn-hover-border-color: #3d0c02e2;
    --bs-btn-hover-color: #F6F3E7;
    --bs-btn-active-bg: #3d0c02;
    --bs-btn-active-border-color: #3d0c02;
    --bs-btn-active-color: #F6F3E7;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.full {
    width: 100%;
}

.feedback {
    color: #AE0C00;
    font-family: "Crimson Text", serif;
    font-weight: 400;
}

.form-control {
    width: 200px;
    max-width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

.input-group>.form-control {
    border-radius: 8px !important;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.form-check {
    display: flex;
    justify-content: center;
    padding: 0px;
}

#googleCalendar {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

#googleCalendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.crud {
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    color: #F6F3E7;
    background-color: #c8bbb3;
    border: #3d0c026a 2px solid;
    transition: background-color 0.5s ease, color 0.5s;
}

.crud:hover {
    background-color: #3d0c026a;
}

.crud:active {
    background-color: #3d0c02a5;
}

.pineColor {
    color: #535446;
}

.attachedColorBg {
    background-color: #D5C7BE;
    color: #380006;
}

.profile-table {
    width: 30%;
    border: #3d0c02a5 2px solid;
    font-family: "Crimson Text", serif;
    font-size: large;
}

.profile-table tr th {
    background-color: #D5C7BE;
    color: #3d0c02;
    border: #3d0c02a5 2px solid;
}

.profile-table tr td {
    border: #3d0c02a5 2px solid;
    color: #3d0c02;
    background-color: #F6F3E7;
}